section.modal#modal-refuse
    .wrapper
        .modal__content
            .modal__cart.modal__cart--black
                h3.h2.icon.icon--refuse Идите в жопу!
                .modal__btn-group 
                    button.btn.btn--light-white Вы свои цены видели?
                    button.btn.btn--light-white Доклады ни о чем
                    button.btn.btn--light-white У вас там все хорошо?
                    button.btn.btn--light-white Денег нет, но вы держитесь
                .modal__thank   
                    p Спасибо, что поделились!

            a.icon.icon--arrow-left.modal__link-return(data-modal-close)(href="") Я кликнул просто посмотреть
            include ../btn/btn-close.jade