form.form(method="POST" action="send.php")
    fieldset.form__fieldset
        input(type="email" placeholder="Укажите email" required) 
        button.btn.btn--submit(type="submit")Подписаться
    small.form__subtext Нажимая на кнопку, вы соглашаетесь на обработку <a href="#">персональных данных</a>